<div ng-show="displayMessageLoader">
    <div>
        <div class="row"><i18n class="import">moodle.importation</i18n></div><div class="lds-dual-ring row center-courses"></div>
    </div>
</div>
<div ng-if="printmenufolder && showCourse(course.course_type)"
     class="minimal-mine-recent-width cell twelve-mobile course-article style-bord-with-over-effect infoBackground bottom-margin infoBackgroundTopMargin"
     ng-class="{duplicateCourse: course.duplication != 'non', greyfilter: course.duplication !='non', duplicationFailed: course.duplication == 'echec'}"
     ng-repeat="course in courses.getCourseInFolder(courses.orderCourses(courses.coursesByUser),currentfolderid)">
    <courses-item course="course" place="'coursesMine'" check="showToaster" date-function="printRightFormatDate" author-function="printRightFormatAuthor" refresh-function="updateCourse"></courses-item>
</div>

<div ng-if="printmenucourseShared && showCourse(course.course_type)"
     class="minimal-mine-recent-width cell twelve-mobile course-article style-bord-with-over-effect infoBackground bottom-margin infoBackgroundTopMargin"
     ng-repeat="course in courses.orderCourses(courses.coursesShared)">
    <courses-item course="course" place="'coursesShared'" check="showToaster" date-function="printRightFormatDate" author-function="printRightFormatAuthor"></courses-item>
</div>