<div class="cell" ng-class="{ activityPictureBackground : course.course_type == 'singleactivity',
                  coursePictureBackground : course.course_type == 'topics' }" ng-click="course.goTo()">
    <img ng-src="[[course.image]]" class="image-dashboard"
         ng-show="course.image !== null && course.image !== undefined"/>
    <img skin-src="/img/illustrations/pages-default.png"  class="image-dashboard"
         ng-show="course.image === null || course.image === undefined"/>
</div>
<div class="eleven coursesText cell left-margin" ng-click="course.goTo()">
    <span class="text-font">[[course.fullname]]</span> </br>
    <span class="summary-list size-font">[[course.summary]]</span> </br>
    <label class="size-font">
        <i18n>modified.on</i18n>:
        [[course.date]]
    </label>
</div>
<label class="checkbox right-magnet">
    <input type="checkbox" ng-change="showToaster()" ng-model="course.select">
    <span></span>
</label>
