<div class="row">
    <div class="three cell BackgroundColorActivity" ng-if="course.type=='activity'">
        <img ng-src="[[course.image]]" class="image"
             ng-show="course.image!==null && course.image!==undefined"/>
        <img skin-src="/img/illustrations/pages-default.png"  class="image"
             ng-show="course.image===null || course.image===undefined"/>
    </div>
    <div class="three cell BackgroundColorBlueParcour" ng-if="course.type=='parcour'">
        <img ng-src="[[course.image]]" class="image"
             ng-show="course.image!==null && course.image!==undefined"/>
        <img skin-src="/img/illustrations/pages-default.png"  class="image"
             ng-show="course.image===null || course.image===undefined"/>
    </div>
    <div class="nine cell">
        <span class="summary text-font">[[course.summary]]</span>
        </br>
        <label >
            <i18n>modified.on</i18n>:
            [[course.date]]
        </label>
        <input type="checkbox" class="right-magnet">
    </div>
</div>