<!-- popup for create new course -->

<h2 class="row twelve"><i18n>moodle.course.information</i18n></h2>
    <div class="twelve cell row select-type-buttons">
        <div class="cell six horizontal-spacing">
            <label class="courseButton course twelve" ng-class="{ selected: course.type == '1' }">
                <i18n>COURSE</i18n>
                <input type="radio" value="1" name="courseType" class="zero-desktop zero-mobile" ng-model="course.type">
            </label>
        </div>
        <div class="cell six horizontal-spacing">
            <label class="courseButton activity twelve" ng-class="{ selected: course.type == '2' }">
                <i18n>ACTIVITY</i18n>
                <input type="radio" value="2" name="courseType" class="zero-desktop zero-mobile" ng-model="course.type">
            </label>
        </div>
    </div>
    <div class="horizontal-spacing row seven vertical-spacing">
        <label class="row twelve">
            <span class="row label-input-row"><i18n>moodle.course.name.long</i18n>*</span>
            <input type="text" class="twelve" required i18n-placeholder="write.here" ng-model="course.fullname">
        </label>
        <label class="row twelve">
            <span class="row label-input-row"><i18n>moodle.course.description</i18n></span>
            <input type="text" class="twelve" i18n-placeholder="write.here" ng-model="course.summary">
        </label>
    </div>
    <div class="row horizontal-spacing vertical-spacing">
        <div class="three cell">
            <span class="row label-input-row"><i18n>moodle.course.image</i18n></span>
            <image-select class="initialFloat cell" default="/img/illustrations/image-default.svg" ng-change="getTypeImage()"
                          ng-model="course.imageurl" on-close=""/>
        </div>
        <div class="six twelve-mobile cell vertical-spacing inside-margin">
            <span class="row label-input-row"><i18n>moodle.course.folder</i18n></span>
            <div  class="three cell"
                  static-include="/moodle/public/template/courses/folderTargetDropDownList.html">
            </div>
        </div>
    </div>
<p ng-if="imgCompatibleMoodle">
    <i18n class="textError">moodle.course.error.type</i18n>
</p>
<div class="row horizontal-spacing vertical-spacing" ng-if="course.type == 2">
        <label>
            <span class="row label-input-row"><i18n>moodle.activity.type</i18n>*</span>
            <select ng-required="course.type == 2" ng-model="typeActivity.selectedOption"
                    ng-options="option.name for option in typeActivity.availableOptions track by option.id"
                    ng-change="changeTypeA(course)" >
            </select>
        </label>
    </div>
    <div class="row">
        <div class="right-magnet">
            <input type="button" class="cancel" i18n-value="cancel" ng-click="closePopUp()"/>
            <input type="submit" class="button" i18n-value="validate" ng-click="createCourse()"
                   ng-disabled="course.submitWait || course.fullname === undefined" ng-if="course.type == 1"/>
            <input type="submit" class="button" i18n-value="validate" ng-click="createCourse()"
                   ng-disabled="course.submitWait || course.fullname === undefined || course.typeA === undefined"
                   ng-if="course.type == 2"/>
        </div>
    </div>
