<!-- alert for delete folders and courses -->
<form ng-submit="deleteElements()">
    <div class="twelve cell horizontal-spacing">
        <h2 class="row twelve"><i18n>moodle.lightBox.delete.title</i18n></h2>
        <br>
        <p><i18n>moodle.lightBox.delete.content</i18n></p>
        <ul class="list-element-delete">
            <li class="ellipsis" ng-repeat="folderList in getAllFolders()" ng-if="folderList.select">
                <label class="checkbox" >
                    <input id="folders" type="checkbox" ng-change="confirmDeleteSend()" checked class="checkbox"  ng-model="folderList.selectConfirm"/>
                    <span>[[folderList.name]]</span>
                </label>
            </li>
            <li class="ellipsis" ng-repeat="courseList in courses.allCourses" ng-if="courseList.select">
                <label class="checkbox" >
                    <input id="courses" type="checkbox" ng-change="confirmDeleteSend()" checked  ng-model="courseList.selectConfirm" class="checkbox "/>
                    <span>[[courseList.fullname]]</span>
                </label>
            </li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="right-magnet">
            <input type="button" class="cancel" i18n-value="cancel" ng-click="closePopUp()"/>
            <input type="submit" class="button" i18n-value="moodle.lightBox.delete.submit" ng-disabled="!disableDeleteSend"/>
        </div>
    </div>
</form>