<span></span>
<div class="row filter-course">
    <div class="drop-down-block" ng-class="{slided: displayFilterCourse}">
        <div class="drop-down-label" ng-click="displayFilterCourse = !displayFilterCourse">
            <div class="twelve cell">
                <i class="arrow"></i>
                <span>
                    <i18n>filter</i18n>
                </span>
            </div>
        </div>
    </div>
    <div ng-hide="!displayFilterCourse">
        <label class="chip margin-left checkbox-course" ng-class="{ selected: show.typeFilter[0]}">
            <span>
                <i18n>course</i18n>
            </span>
            <input type="checkbox" ng-click="show.typeFilter[0] = !show.typeFilter[0];">
        </label>
        <label class="chip margin-left checkbox-activity" ng-class="{ selected: show.typeFilter[1]}">
            <span>
                <i18n>activity</i18n>
            </span>
            <input type="checkbox" ng-click="show.typeFilter[1] = !show.typeFilter[1];" >
        </label>
        <label class="chip margin-left checkbox-activity"
               ng-class="{ selected: courses.isOrderedAsc('creationDate') || courses.isOrderedDesc('creationDate')}"
               ng-click="courses.orderByField('creationDate')">
            <span translate content="creationDate"></span>
            <span class="icons">
                    <i class="arrow orderArrow" ng-if="courses.isOrderedAsc('creationDate')"></i>
                    <i class="arrow orderArrow arrow-bottom" ng-if="courses.isOrderedDesc('creationDate')"></i>
            </span>
        </label>
        <!--<label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.isOrderedAsc('modificationDate') || courses.isOrderedDesc('modificationDate')}" ng-click="courses.orderByField('modificationDate')">
            <span translate content="modificationDate"></span>
            <span class="icons">
                    <i class="arrow orderArrow" ng-if="courses.isOrderedAsc('modificationDate')"></i>
                    <i class="arrow orderArrow bottom" ng-if="courses.isOrderedDesc('modificationDate')"></i>
            </span>
        </label>-->
        <label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.isOrderedAsc('name') || courses.isOrderedDesc('name')}" ng-click="courses.orderByField('name')">
            <span translate content="name"></span>
            <span ng-if="courses.isOrderedAsc('name')" class="leftMarginLetter"> A-Z </span>
            <span ng-if="courses.isOrderedDesc('name')" class="leftMarginLetter"> Z-A </span>
        </label>
        <label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.isOrderedAsc('numberEnrolment') || courses.isOrderedDesc('numberEnrolment')}" ng-click="courses.orderByField('numberEnrolment')">
            <span translate content="numberEnrolment"></span>
            <span class="icons">
                    <i class="arrow orderArrow" ng-if="courses.isOrderedAsc('numberEnrolment')"></i>
                    <i class="arrow orderArrow arrow-bottom" ng-if="courses.isOrderedDesc('numberEnrolment')"></i>
            </span>
        </label>
        <!--<label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.isOrderedAsc('achievement') || courses.isOrderedDesc('achievment')}" ng-click="courses.orderByField('achievment')">
            <span translate content="achievement"></span>
            <span class="icons">
                    <i class="arrow orderArrow" ng-if="courses.isOrderedAsc('achievement')"></i>
                    <i class="arrow orderArrow bottom" ng-if="courses.isOrderedDesc('achievement')"></i>
            </span>
        </label>-->
    </div>
</div>
