<article class="six cell twelve-mobile horizontal-spacing folder-article"
         ng-repeat="folder in folders.getParentFolder() track by $index" ng-if="(currentfolderid==0 || currentfolderid==null)">
    <div static-include="/moodle/public/template/courses/folderDetails.html">
    </div>

</article>

<article class="six cell twelve-mobile horizontal-spacing folder-article"
         ng-repeat="folder in folders.getSubFolder(currentfolderid) track by $index" ng-if="currentfolderid>0">
    <div static-include="/moodle/public/template/courses/folderDetails.html">
    </div>

</article>