<div class="vertical-spacing left-border-menu">
    <div ng-click="isPrintMenuFolder()" class="colorActivity">
        <i class="sort-desc" ng-if="printmenufolder"></i>
        <i class="icon-play" ng-if="!printmenufolder"></i>
        <i18n>moodle.courses</i18n></br>
    </div>
    <div class="colorActivity" ng-repeat="folder in getFolderParent()" ng-if="printfolders">
        <span ng-init="folder.subFolders=getSubFolder(folder);" class="left-padding colorCourse"
              ng-click="isPrintSubFolder(folder)">
            <i class="icon-play" ng-if="!folder.printsubfolder"></i>
            <i class="sort-desc" ng-if="folder.printsubfolder"></i>[[folder.name]]
        </span>
        <div ng-if="folder.subFolders && folder.subFolders.length && folder.printsubfolder" class="left-padding"
             ng-include="'tree_item_renderer.html'"></div>
    </div>

    <div ng-click="isPrintMenuCoursesShared()" class="colorActivity">
        <i class="icon-play" ng-if="!printmenucourseShared"></i>
        <i class="sort-desc" ng-if="printmenucourseShared"></i>
         <i18n>moodle.courses.shared</i18n></br>
    </div>
</div>
<div class="vertical-spacing">
    <input type="button" ng-click="openPopUpFolder()" i18n-value="moodle.folder.new" class="colorButton">
</div>
<div class="vertical-spacing">
    <input type="button" ng-click="shareCourse()" i18n-value="share" class="colorButton" ng-model="course.role">
</div>

<script type="text/ng-template"  id="tree_item_renderer.html">
    <div ng-repeat="folder in folder.subFolders">
            <span ng-init="folder.subFolders=getSubFolder(folder);" class="left-padding colorCourse"
                  ng-click="isPrintSubFolder(folder)">
                <i class="icon-play" ng-if="!folder.printsubfolder"></i>
                <i class="sort-desc" ng-if="folder.printsubfolder"></i>  [[folder.name]]
            </span>
        <div ng-if="folder.subFolders && folder.subFolders.length && folder.printsubfolder"
             ng-include="'tree_item_renderer.html'" class="left-padding"></div>
    </div>
</script>
