<div>
    <div class="colorfolder" ng-click="targetMenu()">
        <i class="sort-desc"></i>
        <i18n>moodle.courses</i18n>
        </br>
    </div>
    <div class="colorfolder" ng-repeat="folder in getFolderParent()">
        <span class ="colorSubfolder" ng-if="targetFolder !== folder.id">
            <span ng-init="folder.subFolders=getSubFolder(folder);" class="left-padding"
                  ng-click="isPrintTargetSubFolder(folder)" ng-if="!(folder.selected)">
                <i  class="icon-play" ng-if="!folder.printTargetsubfolder && folder.subFolders && folder.subFolders.length"></i>
                <i class="sort-desc" ng-if="folder.printTargetsubfolder && folder.subFolders && folder.subFolders.length"></i>  [[folder.name]]
                <br/>
            </span>
        </span>
         <span class ="colorfolder" ng-if="targetFolder === folder.id">
             <span ng-init="folder.subFolders=getSubFolder(folder);" class="left-padding"
                  ng-click="isPrintTargetSubFolder(folder)" ng-if="!(folder.selected)">
                <i  class="icon-play" ng-if="!folder.printTargetsubfolder && folder.subFolders && folder.subFolders.length"></i>
                <i class="sort-desc" ng-if="folder.printTargetsubfolder && folder.subFolders && folder.subFolders.length"></i>  [[folder.name]]
                 <br/>
            </span>
        </span>
        <div ng-if="folder.subFolders && folder.subFolders.length && folder.printTargetsubfolder" class="left-padding"
             ng-include="'tree_item_target_renderer.html'"></div>
    </div>
</div>


<script type="text/ng-template"  id="tree_item_target_renderer.html">
    <div ng-repeat="folder in folder.subFolders">
        <span class ="colorSubfolder" ng-if="targetFolder !== folder.id">
            <span ng-init="folder.subFolders=getSubFolder(folder);" class="left-padding"
                  ng-click="isPrintTargetSubFolder(folder)" ng-if="!(folder.selected)">
                <i  class="icon-play" ng-if="!folder.printTargetsubfolder && folder.subFolders && folder.subFolders.length"></i>
                <i class="sort-desc" ng-if="folder.printTargetsubfolder && folder.subFolders && folder.subFolders.length"></i>  [[folder.name]]
                <br/>
            </span>
        </span>
         <span class ="colorfolder" ng-if="targetFolder === folder.id">
             <span ng-init="folder.subFolders=getSubFolder(folder);" class="left-padding"
                   ng-click="isPrintTargetSubFolder(folder)" ng-if="!(folder.selected)">
                <i  class="icon-play" ng-if="!folder.printTargetsubfolder && folder.subFolders && folder.subFolders.length"></i>
                <i class="sort-desc" ng-if="folder.printTargetsubfolder && folder.subFolders && folder.subFolders.length"></i>  [[folder.name]]
                 <br/>
            </span>
        </span>
        <div ng-if="folder.subFolders && folder.subFolders.length && folder.printTargetsubfolder"
             ng-include="'tree_item_target_renderer.html'" class="left-padding"></div>
    </div>

</script>