<!-- popup for move folders -->

    <form ng-submit="move()">
        <div class="cell horizontal-spacing">
            <h2 class="row twelve">
                <i18n>moodle.toaster.title</i18n>
            </h2>
            <br ng-if="nbFoldersSelect > 0">
            <p ng-if="nbFoldersSelect > 0">
                <i18n ng-if="nbFoldersSelect == 1">moodle.toaster.text.name.folder.move</i18n>
                <i18n ng-if="nbFoldersSelect > 1">moodle.toaster.text.name.folder.moves</i18n>
                <span ng-repeat="folder in getAllFolders()" ng-if="folder.select" >
                    <b>[[folder.name]], </b>
                </span>
            </p>
            <p ng-if="nbCoursesSelect > 0">
                <div ng-if="nbCoursesSelect > 0 && nbFoldersSelect > 0">
                    <span>&</span>
                    <br/><br/>
                </div>
                <i18n ng-if="nbCoursesSelect == 1">moodle.toaster.text.name.course.move</i18n>
                <i18n ng-if="nbCoursesSelect > 1">moodle.toaster.text.name.course.moves</i18n>
                <span ng-repeat="course in getAllCourses()" ng-if="course.select" >
                    <b>[[course.fullname]], </b>
                </span>
            </p>
            <p>
                <i18n>moodle.toaster.folderDirection</i18n>
                <span>
                    <b>[[targetFolderName()]]</b>
                </span>
                <br/><br/>
                <i18n class="text-italic">moodle.toaster.indication</i18n>
                <div  class="twelve cell horizontal-spacing"
                      ng-include="'/moodle/public/template/courses/folderTargetTree.html'">
                </div>
                <hr/>
            </p>
        </div>
        <br>
        <div class="row">
            <div class="right-magnet">
                <input type="button" class="cancel" i18n-value="cancel" ng-click="closePopUp()"/>
                <input type="submit" class="button" i18n-value="move" ng-disabled="folders.folderIdMoveIn === undefined"/>
            </div>
        </div>
    </form>
