<div class="cell" ng-class="{ activityRecentPicture : place == 'coursesRecent' && course.course_type == 'singleactivity',
                                activityToDoPicture : place == 'coursesToDo' && course.course_type == 'singleactivity' && (course.image !== null && course.image !== undefined),
                                activityToComePicture : place == 'coursesToCome' && course.course_type == 'singleactivity' && (course.image !== null && course.image !== undefined),
                                activityToComeNoPadding : place == 'coursesToCome' && course.course_type == 'singleactivity' && (course.image === null || course.image === undefined),
                                activityPictureBackground : (place == 'coursesShared' || place == 'coursesMine') && course.course_type == 'singleactivity' && (course.image !== null && course.image !== undefined),
                                activityPictureNoPadding : (place == 'coursesShared' || place == 'coursesMine') && course.course_type == 'singleactivity' && (course.image === null || course.image === undefined),
                                activityToDoSmallWidthPicture : place == 'coursesToDo' && course.course_type == 'singleactivity' && (course.image === null || course.image === undefined),
                                courseRecentPicture : place == 'coursesRecent' && course.course_type == 'topics',
                                courseToDoPicture : place == 'coursesToDo' && course.course_type == 'topics' && (course.image !== null && course.image !== undefined),
                                courseToComePicture : place == 'coursesToCome' && course.course_type == 'topics' && (course.image !== null && course.image !== undefined),
                                courseToComeNoPadding : place == 'coursesToCome' && course.course_type == 'topics' && (course.image === null || course.image === undefined),
                                courseToDoSmallWidthPicture : place == 'coursesToDo' && course.course_type == 'topics' && (course.image === null || course.image === undefined),
                                coursePictureBackground : (place == 'coursesShared' || place == 'coursesMine') && course.course_type == 'topics' && course.image !== null && course.image !== undefined,
                                coursePictureNoPadding : (place == 'coursesShared' || place == 'coursesMine') && course.course_type == 'topics' && (course.image === null || course.image === undefined)}"
                                ng-click="course.goTo()">
    <img ng-src="[[course.imageurl]]" class="image-dashboard"
         ng-class="{ recentPicture : place == 'coursesRecent',
            toDoPicture : place == 'coursesToDo',
            toComePicture : place == 'coursesToCome',
            defaultPicture : place == 'coursesShared' || place == 'coursesMine'}"
         ng-show="course.imageurl !== null && course.imageurl !== undefined && course.imageurl !== '-' "/>
    <img ng-src="moodle/public/img/logo_image_ent.png" class="image-dashboard"
         ng-show="course.imageurl === null || course.imageurl === undefined || course.imageurl === '-' "/>
</div>
<div  ng-class="{ 'cell pseudo-eleven' : place == 'coursesToDo' && course.image === undefined && view == 'icons',
                  'small-eleven cell' : place == 'coursesToDo' && course.image !== undefined && view == 'icons',

                  'big-big cell' : place == 'coursesToDo' && course.image === undefined && view == 'list',
                  'seven-mobile nine middle-eleven cell' : place == 'coursesToDo' && course.image !== undefined && view == 'list',

                  'eight-mobile specific-all-toCome-width cell' : place == 'coursesToCome' && view == 'list',
                  'specific-small-toCome-width cell' : place == 'coursesToCome' && view == 'icons'}">
    <div ng-class="{ 'right-margin' : (place == 'coursesToDo' || place == 'coursesToCome'),
                      'big-right-margin' : (place == 'coursesShared' || place == 'coursesMine'),
                      'inside-margin' : place == 'coursesRecent'}">
        <div ng-click="course.goTo()" ng-class="{'specific-mine-shared-width' : place == 'coursesMine' || place == 'coursesShared'}">
            <label class="text-font" ng-if="place == 'coursesToCome' && course.startdate != null">
                <i18n>toBegin.at</i18n>
                <span class="date">[[ printDate(course,"begindate") ]]</span></br>
            </label>
            <div class="ellipsis">
                <span class="text-font">[[course.fullname]]</span>
            </div>
            <div ng-if="place != 'coursesRecent' && place != 'coursesMine'">
                <span class="summary-list size-font">[[ printAuthor(course) ]]</span></br>
            </div>
            <div ng-if="place != 'coursesRecent' && place != 'coursesToCome'" class="ellipsis">
                <span class="summary-list summary-color size-font">[[course.summary]]</span></br>
            </div>
        </div>
        <label class="size-font" ng-if="place == 'coursesMine' || place == 'coursesShared' || place == 'coursesRecent'">
            <i18n>modified.on</i18n>:
            <span class="date">[[ printDate(course, "modified" ) ]]</span>
        </label>
        <label class="checkbox right-magnet" ng-if="place == 'coursesMine' || place == 'coursesShared'">
            <input type="checkbox" ng-change="checkCourse()" ng-model="course.select">
            <span></span>
        </label>
    </div>
    <div class="left-margin">
        <label class="size-font" ng-if="place == 'coursesToDo' && course.enddate != null">
            <i18n>toDo.before</i18n>
            <span class="date">[[ printDate(course,"enddate") ]]</span>
        </label>
        <br ng-if="place == 'coursesToDo' && course.enddate == null" />
        <div ng-class="{'row move-up' : place == 'coursesToDo'}">
            <progress-bar class="progress" ng-class="{activityProgress : course.course_type == 'singleactivity',
courseProgress : course.course_type == 'topics'}" filled="course.progress" ng-if="place == 'coursesToDo'">
            </progress-bar>
            <dots-menu class="cell right-magnet" ng-class="{'bigWidth' : course.favorites, 'middleWidth' : course.masked }" ng-if="place == 'coursesToCome' || place == 'coursesToDo'">

                <opt  ng-if="!course.masked" ng-click="course.setPreferences('masked')">
                    <i class="eye-slash">
                    </i>
                    &nbsp;&nbsp;<i18n>course.mask</i18n>
                </opt>
                <opt ng-if="course.masked" ng-click="course.setPreferences('masked')">
                    <i class="eye-open">
                    </i>
                    &nbsp;<i18n>course.demask</i18n>
                </opt>
                <opt  ng-if="!course.favorites" ng-click="course.setPreferences('favorites')">
                    <i class="favoris">
                    </i>
                    &nbsp;&nbsp;<i18n>course.favoris</i18n>
                </opt>
                <opt ng-if="course.favorites" ng-click="course.setPreferences('favorites')">
                    <i class="defavoris">
                    </i>
                    &nbsp;<i18n>course.defavoris</i18n>
                </opt>
            </dots-menu>

        </div>
    </div>
</div>