<div class="cell" ng-class="{ activitySmallPicture : place == 'coursesRecent' && course.course_type == 'singleactivity',
                                activityBigPicture : place == 'coursesToDo' && course.course_type == 'singleactivity',
                                activityToComePicture : place == 'coursesToCome' && course.course_type == 'singleactivity',
                                activityPictureBackground : place != 'coursesRecent' && place != 'coursesToDo' && place != 'coursesToCome' && course.course_type == 'singleactivity',
                                courseSmallPicture : place == 'coursesRecent' && course.course_type == 'topics',
                                courseBigPicture : place == 'coursesToDo' && course.course_type == 'topics',
                                courseToComePicture : place == 'coursesToCome' && course.course_type == 'topics',
                                courseSmallWidthPicture : place == 'coursesToDo' && course.image === undefined,
                                courseBigWidthPicture : place == 'coursesToDo' && course.image !== undefined,
                                coursePictureBackground : place != 'coursesRecent' && place != 'coursesToDo' && place != 'coursesToCome' && course.course_type == 'topics'}"
                                ng-click="course.goTo()">
    <img ng-src="[[course.image]]" class="image-dashboard"
         ng-show="course.image !== null && course.image !== undefined"/>
    <img skin-src="/img/illustrations/pages-default.png"  class="image-dashboard"
         ng-show="course.image === null || course.image === undefined" ng-if="place != 'coursesToDo'"/>
</div>
<div  ng-class="{ 'cell pseudo-eleven' : place == 'coursesToDo' && course.image == undefined && view == 'icons',
                  'small-eleven cell' : place == 'coursesToDo' && course.image !== undefined && view == 'icons',

                  'big-big cell' : place == 'coursesToDo' && course.image == undefined && view == 'list',
                  'middle-eleven cell' : place == 'coursesToDo' && course.image !== undefined && view == 'list',

                  'specific-all-toCome-width cell' : place == 'coursesToCome' && view == 'list',
                  'specific-small-toCome-width cell' : place == 'coursesToCome' && view == 'icons'}">
    <div ng-class="{ 'left-margin' : (place == 'coursesMine' || place == 'coursesShared' || place == 'coursesRecent'),
                      'right-margin' : (place == 'coursesToDo' || place == 'coursesToCome'),
                      'big-right-margin' : (place == 'coursesShared' || place == 'coursesMine'),
                      'inside-margin-left' : place == 'coursesRecent'}">
        <div ng-click="course.goTo()">
            <label class="text-font" ng-if="place == 'coursesToCome'">
                <i18n>toBegin.at</i18n>
                <span class="date"><!--[[ printDate(course,"begindate") ]]//--></span></br>
            </label>
            <div class="ellipsis">
                <span class="text-font">[[course.fullname]]</span>
            </div>
            <div ng-if="place != 'coursesRecent' && place != 'coursesMine'">
                <span class="summary-list size-font">[[ printAuthor(course) ]]</span></br>
            </div>
            <div ng-if="place != 'coursesRecent' && place != 'coursesToCome'" class="ellipsis">
                <span class="summary-list summary-color size-font">[[course.summary]]</span></br>
            </div>
        </div>
        <label class="size-font" ng-if="place == 'coursesMine' || place == 'coursesShared' || place == 'coursesRecent'">
            <i18n>modified.on</i18n>:
            <span class="date">[[ printDate(course, "modified" ) ]]</span>
        </label>
        <label class="checkbox right-magnet" ng-if="place == 'coursesMine' || place == 'coursesShared'" ng-click="">
            <input type="checkbox" ng-change="checkCourse()" ng-model="course.select">
            <span></span>
        </label>
    </div>
    <div class="left-margin">
        <label class="size-font" ng-if="place == 'coursesToDo'">
            <i18n>toDo.before</i18n>
            <span class="date">[[ printDate(course,"enddate") ]]</span>
        </label>
        <div class="row move-up">
            <progress-bar class="progress" ng-class="{activityProgress : course.course_type == 'singleactivity',
courseProgress : course.course_type == 'topics'}" filled="course.progress" ng-if="place == 'coursesToDo'">
            </progress-bar>
            <dots-menu class="cell right-magnet" ng-class="{'next-previous-courses' : place == 'coursesToCome'}" ng-if="place == 'coursesToCome' || place == 'coursesToDo'">

                <opt  ng-if="!course.maskes">
                    <i class="eye-slash">
                    </i>
                    &nbsp;&nbsp;<i18n>course.mask</i18n>
                </opt>
                <opt ng-if="course.masked">
                    <i class="eye-open">
                    </i>
                    &nbsp;<i18n>course.demask</i18n>
                </opt>
                <opt  ng-if="!course.favorites">
                    <i class="favoris">
                    </i>
                    &nbsp;&nbsp;<i18n>course.favoris</i18n>
                </opt>
                <opt ng-if="course.favorites">
                    <i class="defavoris">
                    </i>
                    &nbsp;<i18n>course.defavoris</i18n>
                </opt>
            </dots-menu>

        </div>
    </div>
</div>