<div class="coursesBackground-dashboard">
    <div class="row">
        <div>
            <span class="left-magnet title-dashboard">
                <i18n>moodle.create.courses.recent</i18n>
            </span>
            <switch ng-model="courses.printcourseslastcreation" ng-click="courses.setChoice(1)"></switch>
        </div>
        <div ng-if="courses.printcourseslastcreation" class="row">
            <div ng-repeat="course in courses.coursesByUser.slice(0,5)" class="all-width cell twelve-mobile style-bord infoBackground bottom-margin">
                <courses-item course="course" place="'coursesRecent'" check="showToaster" date-function="printRightFormatDate" author-function="printRightFormatAuthor"></courses-item>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <span class="left-magnet title-dashboard">
            <i18n>moodle.todo.courses</i18n>
        </span>
        <switch ng-model="courses.printcoursestodo" ng-click="courses.setChoice(2)"></switch>
    </div>
    <div ng-if="courses.printcoursestodo">
        <div class="row list-dashboard">
            <select class="cell left-magnet" ng-model="showToDoCourses"
                    ng-options="libelle for libelle in typeShowCourses"
                    ng-change="changeShowCoursesToDo()">
            </select>
            <div class="cell right-magnet icons-dashboard">
                <i class="show-list" ng-class="{ selected: isViewMode('list') }" ng-click="changeViewMode('list')"></i>
            </div>
            <span> </span>
            <div class="cell right-magnet">
                <i class="show-icons" ng-class="{ selected: isViewMode('icons') }" ng-click="changeViewMode('icons')"></i>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="course in courses.coursesByUser.slice(firstCoursesToDo,lastCoursesToDo)" class="specific-small-toDo-width cell twelve-mobile style-bord infoBackground bottom-margin right-course-margin">
                <courses-item course="course" place="'coursesToDo'" check="showToaster" date-function="printRightFormatDate" author-function="printRightFormatAuthor"></courses-item>
            </div>
        </div>
        <div class="row next-previous-courses">
            <div class="cell right-magnet">
                <li class="changeWeekButton">
                    <button  class="changeWeekButtonBack" ng-click="previousCoursesToDoButton()" ng-disabled="firstCoursesToDo == 0">&#8592;</button>
                    <button class="changeWeekButtonNext" ng-click="nextCoursesToDoButton()" ng-disabled="lastCoursesToDo >= courses.coursesByUser.length">&#8594;</button>
                </li>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <span class="left-magnet title-dashboard">
            <i18n>moodle.tocome.courses</i18n>
        </span>

        <switch ng-model="courses.printcoursestocome" ng-click="courses.setChoice(3)"></switch>
    </div>
    <div ng-if="courses.printcoursestocome">
        <div class="row  list-dashboard">
            <select class="cell left-magnet" ng-model="showToComeCourses"
                    ng-options="libelle for libelle in typeShowCourses"
                    ng-change="changeShowCoursesToCome()">
            </select>
            <div class="cell right-magnet icons-dashboard">
                <i class="show-list" ng-class="{ selected: isViewMode('list') }" ng-click="changeViewMode('list')"></i>
            </div>
            <span> </span>
            <div class="cell right-magnet">
                <i class="show-icons" ng-class="{ selected: isViewMode('icons') }" ng-click="changeViewMode('icons')"></i>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="course in courses.coursesByUser.slice(firstCoursesToCome,lastCoursesToCome)" class="all-width cell twelve-mobile style-bord infoBackground bottom-margin">
                <courses-item course="course" place="'coursesToCome'" check="showToaster" date-function="printRightFormatDate" author-function="printRightFormatAuthor"></courses-item>
            </div>
        </div>
        <div class="row next-previous-courses">
            <div class="cell right-magnet">
                <li class="changeWeekButton">
                    <button  class="changeWeekButtonBack" ng-click="previousCoursesToComeButton()" ng-disabled="firstCoursesToCome == 0">&#8592;</button>
                    <button class="changeWeekButtonNext" ng-click="nextCoursesToComeButton()" ng-disabled="lastCoursesToCome >= courses.coursesByUser.length">&#8594;</button>
                </li>
            </div>
        </div>
    </div>

    <section class="toggle-buttons" ng-show="courses.selection().length > 0">
        <div class="toggle row">
            <button>
                <i18n>modify</i18n>
            </button>
        </div>
    </section>
</div>