<div class="coursesBackground-dashboard">
    <div class="row">
        <span class="left-magnet title-dashboard">
            <i18n>moodle.todo.courses</i18n>
        </span>
        <switch ng-model="courses.todo" ng-click="courses.setChoice(2)"></switch>
    </div>
    <div ng-if="courses.todo">
        <div class="row list-dashboard">
            <select class="cell left-magnet special-selected zero-mobile" ng-model="courses.coursestodosort[0]"
                    ng-options="option.name for option in courses.typeShow track by option.id"
                    ng-change="changeShowCoursesToDoDesktop()">
            </select>
            <div class="zero-desktop twelve-mobile">
                <label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.coursestodosort[0].id == 'masked'}">
                <span>
                    <i class="eye-slash">
                    </i>
                    <i18n>masked</i18n>
                </span>
                    <input type="checkbox" ng-click="changeShowCoursesToDo('masked')" >
                </label>
                <label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.coursestodosort[0].id == 'favorites'}">
                <span>
                    <i class="favorite">
                    </i>
                    <i18n>favorites</i18n>
                </span>
                    <input type="checkbox" ng-click="changeShowCoursesToDo('favorites')" >
                </label>
                <label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.coursestodosort[0].id == 'all'}">
                <span>
                    <i18n>all</i18n>
                </span>
                    <input type="checkbox" ng-click="changeShowCoursesToDo('all')" >
                </label>
                <label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.coursestodosort[0].id == 'doing'}">
                <span>
                    <i18n>doing</i18n>
                </span>
                    <input type="checkbox" ng-click="changeShowCoursesToDo('doing')" >
                </label>
            </div>
            <div class="search-pagination">
                <div class="five twelve-mobile cell ellipsis infoBackground style-bord-with-over-effect searchBar">
                    <i class="search searchIcon" ></i>
                    <input class="twelve noBorder"
                           type="text"
                           translate attr="placeholder"
                           ng-model="courses.searchInput.toDo"
                           placeholder="search.coursesToDoCome"
                           ng-change="initSearchToDo()"
                    />
                </div>
            </div>
            <div class="cell right-magnet title-dashboard zero-mobile">
                <i class="show-list" ng-class="{ selected: viewModeToDo == 'list' }" ng-click="changeViewModeToDo('list')"></i>
            </div>
            <span> </span>
            <div class="cell right-magnet zero-mobile">
                <i class="show-icons" ng-class="{ selected: viewModeToDo == 'icons' }" ng-click="changeViewModeToDo('icons')"></i>
            </div>
        </div>
        <div class="row center-courses">
            <div ng-show="displayMessageLoader">
                <div>
                    <div class="row"><i18n class="import">moodle.importation</i18n></div><div class="lds-dual-ring row center-courses"></div>
                </div>
            </div>
            <div ng-repeat="course in courses.coursesToShow('coursesToDo').slice(firstCoursesToDo,lastCoursesToDo)" class="twelve-mobile style-bord-with-over-effect infoBackground bottom-margin"
            ng-class="{'definedImageSmallToDoWidth cell' : courses.isTheFirst(course) && viewModeToDo == 'icons', 'undefined-image-small-toDo-width cell' : !courses.isTheFirst(course) && viewModeToDo == 'icons', 'all-width cell' : viewModeToDo == 'list',
             'right-course-margin' : viewModeToDo == 'icons'}">
                <courses-item course="course" place="'coursesToDo'" check="showToaster" date-function="printRightFormatDate" author-function="printRightFormatAuthor" view ="viewModeToDo" first ="courses.isTheFirst(course)"></courses-item>
            </div>
        </div>
        <div class="row next-previous-courses">

            <div class="cell right-magnet">
                <li class="changeWeekButton">
                    <button ng-if="!(firstCoursesToDo == 0)" class="pagination-button" ng-click="previousCoursesToDoButton()" >
                        <i class="left-open"></i>
                    </button>
                    <button ng-if="!(lastCoursesToDo >= courses.coursesToShow('coursesToDo').length)" class="pagination-button" ng-click="nextCoursesToDoButton()">
                        <i class="open-right"></i>
                    </button>
                </li>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <span class="left-magnet title-dashboard">
            <i18n>moodle.tocome.courses</i18n>
        </span>
        <switch ng-model="courses.tocome" ng-click="courses.setChoice(3)"></switch>
    </div>
    <div ng-if="courses.tocome">
        <div class="row  list-dashboard">
            <select class="cell left-magnet special-selected zero-mobile" ng-model="courses.coursestocomesort[0]"
                    ng-options="option.name for option in courses.typeShow.slice(0, 1).concat(courses.typeShow.slice(2, 3)).concat(courses.typeShow.slice(4, 5)) track by option.id"
                    ng-change="changeShowCoursesToComeDesktop()">
            </select>
            <div class="zero-desktop twelve-mobile">
                <label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.coursestocomesort[0].id == 'masked'}">
                <span>
                    <i class="eye-slash">
                    </i>
                    <i18n>masked</i18n>
                </span>
                    <input type="checkbox" ng-click="changeShowCoursesToCome('masked')" >
                </label>
                <label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.coursestocomesort[0].id == 'favorites'}">
                <span>
                    <i class="favorite">
                    </i>
                    <i18n>favorites</i18n>
                </span>
                    <input type="checkbox" ng-click="changeShowCoursesToCome('favorites')" >
                </label>
                <label class="chip margin-left checkbox-activity" ng-class="{ selected: courses.coursestocomesort[0].id == 'all'}">
                <span>
                    <i18n>all</i18n>
                </span>
                    <input type="checkbox" ng-click="changeShowCoursesToCome('all')" >
                </label>
            </div>
            <div class="search-pagination">
                <div class="five twelve-mobile cell ellipsis infoBackground style-bord-with-over-effect searchBar">
                    <i class="search searchIcon" ></i>
                    <input class="twelve noBorder"
                           type="text"
                           translate attr="placeholder"
                           ng-model="courses.searchInput.toCome"
                           placeholder="search.coursesToDoCome"
                           ng-change="initSearchToCome()"
                    />
                </div>
            </div>
            <div class="cell right-magnet title-dashboard zero-mobile">
                <i class="show-list" ng-class="{ selected: viewModeToCome == 'list' }" ng-click="changeViewModeToCome('list')"></i>
            </div>
            <span> </span>
            <div class="cell right-magnet zero-mobile">
                 <i class="show-icons" ng-class="{ selected: viewModeToCome == 'icons' }" ng-click="changeViewModeToCome('icons')"></i>
            </div>
        </div>
        <div class="row center-courses">
            <div ng-show="displayMessageLoader">
                <div>
                    <div class="row"><i18n class="import">moodle.importation</i18n></div><div class="lds-dual-ring row center-courses"></div>
                </div>
            </div>
            <div ng-repeat="course in courses.coursesToShow('coursesToCome').slice(firstCoursesToCome,lastCoursesToCome)"
                 class="twelve-mobile style-bord-without-over-effect infoBackground bottom-margin grey-color"
                 ng-class="{ 'all-width cell' : viewModeToCome == 'list', 'small-width cell' : viewModeToCome == 'icons'}">
                <courses-item course="course" place="'coursesToCome'" check="showToaster" date-function="printRightFormatDate" author-function="printRightFormatAuthor" view ="viewModeToCome"></courses-item>
            </div>
        </div>
        <div class="row next-previous-courses">
            <div class="cell right-magnet">
                <li class="changeWeekButton">
                    <button  ng-if=" !(firstCoursesToCome == 0)" class="pagination-button" ng-click="previousCoursesToComeButton()">
                        <i class="left-open"></i>
                    </button>
                    <button ng-if=" !(lastCoursesToCome >= courses.coursesToShow('coursesToCome').length)" class="pagination-button" ng-click="nextCoursesToComeButton()">
                        <i class="open-right"></i>
                    </button>
                </li>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div>
            <span class="left-magnet title-dashboard">
                <i18n>moodle.create.courses.recent</i18n>
            </span>
            <switch ng-model="courses.lastcreation" ng-click="courses.setChoice(1)"></switch>
        </div>
        <div ng-if="courses.lastcreation" class="row center-courses">
            <div ng-show="displayMessageLoader">
                <div>
                    <div class="row"><i18n class="import">moodle.importation</i18n></div><div class="lds-dual-ring row center-courses"></div>
                </div>
            </div>
            <div ng-repeat="course in courses.lastCreation()" class="all-width cell twelve-mobile style-bord-with-over-effect infoBackground bottom-margin">
                <courses-item course="course" place="'coursesRecent'" check="showToaster" date-function="printRightFormatDate" author-function="printRightFormatAuthor"></courses-item>
            </div>
        </div>
    </div>

    <section class="toggle-buttons" ng-show="courses.selection().length > 0">
        <div class="toggle row">
            <button>
                <i18n>modify</i18n>
            </button>
        </div>
    </section>
</div>