<div class="">
    <span class="left-magnet"><i18n>moodle.create.courses.recent</i18n></span> <switch ng-model="printcreatecoursesrecents" > </switch>
</div>
<div ng-init="initCoursesbyuser()" ng-if="printcreatecoursesrecents">
    <div ng-repeat="course in courses.coursesByUser" class="twelve cell sytle-bord coursesInfoBackground bottom-margin">
        <div class="one cell BackgroundColorActivity-dashboard" ng-if="!course.type">
            <img ng-src="[[course.image]]" class="image-dashboard"
                 ng-show="course.image!==null && course.image!==undefined"/>
            <img skin-src="/img/illustrations/pages-default.png"  class="image-dashboard"
                 ng-show="course.image===null || course.image===undefined"/>
        </div>
        <div class="one cell BackgroundColorBlueParcour-dashboard" ng-if="course.type">
            <img ng-src="[[course.image]]" class="image-dashboard"
                 ng-show="course.image!==null && course.image!==undefined"/>
            <img skin-src="/img/illustrations/pages-default.png"  class="image-dashboard"
                 ng-show="course.image===null || course.image===undefined"/>
        </div>
        <div class="eleven cell left-margin">
            <span class="text-font">[[course.fullname]]</span> </br>
            <label class="size-font">
                <i18n>modified.on</i18n>:
                [[course.date]]
            </label>
            <input type="checkbox" class="right-magnet">
        </div>
    </div>
</div>