<article ng-init="printCouresbySubFolder(currentfolderid)" ng-if="currentfolderid"
        class="five cell twelve-mobile horizontal-spacing course-article"
         ng-repeat="course in courses.allbyfolder track by $index">
    <div static-include="/moodle/public/template/coursesItem.html"></div>
</article>
<article ng-if="printmenucourseShared"
         class="five cell twelve-mobile horizontal-spacing course-article"
         ng-repeat="course in courses.coursesShared track by $index">
    <div static-include="/moodle/public/template/coursesItem.html"></div>
</article>
