<div class="vertical-spacing left-border-menu ">
    <div ng-click="isprintMenuFolder()" class="colorfolder">
        <i class="sort-desc" ng-if="printmenufolder"></i>
        <i class="icon-play" ng-if="!printmenufolder"></i>
        <i18n>moodle.courses</i18n><br>
    </div>
    <div class="colorfolder" ng-repeat="folder in getFolderParent()" ng-if="printfolders">
        <span ng-init="folder.subFolders=getSubFolder(folder);" class="left-padding colorSubfolder"
              ng-click="isprintSubFolder(folder)">
            <i  class="icon-play" ng-if="!folder.printsubfolder"></i>
            <i class="sort-desc" ng-if="folder.printsubfolder"></i>  [[folder.name]]
        </span>
        <div ng-if="folder.subFolders && folder.subFolders.length && folder.printsubfolder" class="left-padding"
             ng-include="'tree_item_renderer.html'"></div>
    </div>
    <script type="text/ng-template"  id="tree_item_renderer.html">
        <div ng-repeat="folder in folder.subFolders">
            <span ng-init="folder.subFolders=getSubFolder(folder);" class="left-padding colorSubfolder"
                  ng-click="isprintSubFolder(folder)">
                <i  class="icon-play" ng-if="!folder.printsubfolder"></i>
                <i class="sort-desc" ng-if="folder.printsubfolder"></i>  [[folder.name]]
            </span>
            <div ng-if="folder.subFolders && folder.subFolders.length && folder.printsubfolder"
                 ng-include="'tree_item_renderer.html'" class="left-padding"></div>
        </div>

    </script>


    <div ng-click="isprintMenuFolderShared()"  class="colorfolder">
        <i class="icon-play" ng-if="!printmenucourseShared"></i>
        <i class="sort-desc" ng-if="printmenucourseShared"></i>
         <i18n>moodle.courses.shared</i18n><br>
    </div>
</div>
<div class="vertical-spacing">
    <input type="submit" i18n-value="moodle.folder.new" class="colorbutton">
</div>