<div ng-controller="MoodleController">
    <div class="row">
        <h1><i18n>moodle.title</i18n></h1>
        <input type="submit" class="right-magnet" i18n-value="moodle.course.new" ng-click="openPopUp()"/>
    </div>
    <lightbox class="row" show="openLightbox == true" on-close="closePopUp()">
        <div class="four cell">
            <image-select default="/img/illustrations/image-default.svg"></image-select>
        </div>
        <div class="eight cell horizontal-spacing">
            <h2 class="row twelve"><i18n>moodle.course.information</i18n></h2>
            <label class="row twelve">
                <input type="text" class="twelve" required i18n-placeholder="moodle.course.name.long" ng-model="course.title">
            </label>
            <label class="row twelve">
                <input type="text" class="twelve" i18n-placeholder="moodle.course.description" ng-model="course.description">
            </label>
        </div>
        <div class="row">
            <div class="right-magnet">
                <input type="button" class="cancel" i18n-value="cancel" ng-click="closePopUp()"/>
                <input type="submit" class="button" i18n-value="validate" ng-click="createCourse()" ng-disabled="course.title == undefined"/>
            </div>
        </div>
    </lightbox>
</div>