<div class="row coursesBackground">
    <div class="twelve twelve-mobile">
        <div class="cell two horizontal-spacing">
            <p>
                <label class="vertical-spacing">
                    <i18n>moodle.folders</i18n>
                    <input type="text" class="twelve twelve-mobile "/>
                </label>
            </p>
            <div class="horizontal-spacing" static-include="/moodle/public/template/courses/folderItem.html">
            </div>
        </div>

        <div class="ten cell horizontal-spacing padding-left-corp" >
            <div  class ="row" static-include="/moodle/public/template/courses/filters.html"></div>
            <div class="row" static-include="/moodle/public/template/courses/folders.html" ng-show="printfolders"></div>
            <div class="row" static-include="/moodle/public/template/courses/courses.html" ng-if="printcours" ></div>
        </div>
    </div>
</div>

<lightbox class="row" show="openLightbox == true" on-close="closePopUp()">
    <h2 class="row twelve"><i18n>moodle.course.information</i18n></h2>
    <div class="twelve cell row select-type-buttons">
        <div class="cell six horizontal-spacing">
            <label class="courseButton course twelve" ng-class="{ selected: course.type == '1' }">
                <i18n>course</i18n>
                <input type="radio" value="1" name="courseType" class="zero-desktop zero-mobile" ng-model="course.type">
            </label>
        </div>
        <div class="cell six horizontal-spacing">
            <label class="courseButton activity twelve" ng-class="{ selected: course.type == '2' }">
                <i18n>activity</i18n>
                <input type="radio" value="2" name="courseType" class="zero-desktop zero-mobile" ng-model="course.type">
            </label>
        </div>
    </div>
    <div class="horizontal-spacing seven vertical-spacing">
        <label class="row twelve">
            <span class="row label-input-row"><i18n>moodle.course.name.long</i18n>*</span>
            <input type="text" class="twelve" required i18n-placeholder="write.here" ng-model="course.fullname">
        </label>
        <label class="row twelve">
            <span class="row label-input-row"><i18n>moodle.course.description</i18n></span>
            <input type="text" class="twelve" i18n-placeholder="write.here" ng-model="course.summary">
        </label>
    </div>
    <div class="row horizontal-spacing">
        <span class="row label-input-row"><i18n>moodle.course.image</i18n></span>
        <image-select class="three cell" default="/img/illustrations/image-default.svg" ng-model="course.imageurl"></image-select>
    </div>
    <div class="row horizontal-spacing" ng-if="course.type == 2">
        <label>
            <span class="row label-input-row"><i18n>moodle.activity.type</i18n>*</span>
        </label>
        <select ng-model="course.typeA" ng-required="course.type == 2">
            <option>quiz</option>
            <option>file</option>
            <option>page</option>
            <option>assignment</option>
        </select>
    </div>
    <div class="row">
        <div class="right-magnet">
            <input type="button" class="cancel" i18n-value="cancel" ng-click="closePopUp()"/>
            <input type="submit" class="button" i18n-value="validate" ng-click="createCourse()" ng-disabled="course.fullname == undefined"/>
        </div>
    </div>
</lightbox>
<!-- popup for create new folders -->
<lightbox class="row" show="openLightboxFolder === true" on-close="closePopUpFolder()">
    <div class="eight cell horizontal-spacing">
        <h2 class="row twelve"><i18n>moodle.folder.information</i18n></h2>
        <br>
        <label class="row twelve">
            <input type="text" class="twelve" required i18n-placeholder="moodle.folder.name.long" ng-model="folder.name">
        </label>
    </div>
    <br>
    <div class="row">
        <div class="right-magnet">
            <input type="button" class="cancel" i18n-value="cancel" ng-click="closePopUpFolder()"/>
            <input type="submit" class="button" i18n-value="create" ng-click="createFolder()" ng-disabled="folder.name == undefined"/>
        </div>
    </div>
</lightbox>

<!-- popup for move folders -->
<lightbox class="row" show="lightboxFolderMove === true" on-close="closePopUpFolderMove()">
    <form ng-submit="foldersMove()">
        <div class="eight cell horizontal-spacing">
            <h2 class="row twelve"><i18n>moodle.toaster.title</i18n></h2>
            <br>
            <p>
                <i18n ng-show="nbFoldersSelect === 1">moodle.toaster.folderSelected</i18n>
                <i18n ng-show="nbFoldersSelect > 1">moodle.toaster.foldersSelected</i18n>
            <ul>
                <li ng-repeat="folder in getAllFolders()" ng-if="folder.select" >[[folder.name]]</li>
            </ul>
            </p>
            <p>
                <i18n>moodle.toaster.folderDirection</i18n>
                <select ng-model="folders.folderIdMoveIn" ng-change="selectFolder()" >
                    <option value="" disabled selected hidden>Sélectionner un dossier</option>
                    <option value=0>Mes cours</option>
                    <option ng-repeat="folderList in getAllFolders()" ng-if="!folderList.select" value=[[folderList.id]]>
                        [[folderList.name]]
                    </option>
                </select>
            </p>

        </div>
        <br>
        <div class="row">
            <div class="right-magnet">
                <input type="button" class="cancel" i18n-value="cancel" ng-click="closePopUpFolderMove()"/>
                <input type="submit" class="button" i18n-value="move" ng-disabled="folders.folderIdMoveIn === undefined"/>
            </div>
        </div>
    </form>
</lightbox>

<!-- popup for confirm delete folder-->
<lightbox class="row" show="lightboxFolderDelete === true" on-close="closePopUpFolderDelete()">
    <form ng-submit="deleteFolders()">
        <div class="eight cell horizontal-spacing">
            <h2 ng-show="nbFoldersSelect === 1" class="row twelve"><i18n>moodle.folder.deleteTextConfirm</i18n></h2>
            <h2 ng-show="nbFoldersSelect > 1" class="row twelve"><i18n>moodle.folders.deleteTextConfirm</i18n></h2>
            <br>
            <ul>
                <li ng-repeat="folderList in getAllFolders()" ng-if="folderList.select">
                    [[folderList.name]]
                </li>
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="right-magnet">
                <input type="button" class="cancel" i18n-value="cancel" ng-click="closePopUpFolderDelete()"/>
                <input type="submit" class="button" i18n-value="validate" />
            </div>
        </div>
    </form>
</lightbox>