<section class="toggle-buttons" ng-class="{ hide: !toasterShow }">
    <div class="toggle">
        <div class="row">
            <button ng-click="" class="cell">
                <i18n>moodle.toaster.registration</i18n>
            </button>
            <button  ng-click="" class="cell">
                <i18n>moodle.toaster.publish</i18n>
            </button>
            <button ng-show="nbFoldersSelect === 1 && nbCoursesSelect === 0"  ng-click="" class="cell zero-mobile">
                <i18n>moodle.toaster.rename</i18n>
            </button>
            <button  ng-click="" class="cell">
                <i18n>moodle.toaster.copy</i18n>
            </button>
            <button  ng-click="" class="cell">
                <i18n>moodle.toaster.move</i18n>
            </button>
            <button  ng-click="openPopUpDelete()" class="cell">
                <i18n>moodle.toaster.delete</i18n>
            </button>
            <button  ng-click="" class="cell">
                <i18n>moodle.toaster.reset</i18n>
            </button>
            <button  ng-click="" class="cell">
                <i18n>moodle.toaster.hide</i18n>
            </button>
        </div>
    </div>
</section>
