<section class="toggle-buttons" ng-if="toasterShow">
    <div class="toggle">
        <div class="row">
            <button ng-show="showShareButton()" ng-click="OpenShareLightBox()">
                <i18n>moodle.toaster.registration</i18n>
            </button>
            <button  ng-click="" class="cell" ng-disabled="true">
                <i18n>moodle.toaster.publish</i18n>
            </button>
            <button ng-show="nbFoldersSelect === 1 && nbCoursesSelect === 0"  ng-click="" class="cell zero-mobile">
                <i18n>moodle.toaster.rename</i18n>
            </button>
            <button  ng-click="openPopUpDuplicate()" class="cell" ng-show="nbFoldersSelect === 0">
                <i18n>moodle.toaster.duplicate</i18n>
            </button>
            <button  ng-click="openPopUpMove()" class="cell">
                <i18n>moodle.toaster.move</i18n>
            </button>
            <button  ng-click="openPopUpDelete()" class="cell">
                <i18n>moodle.toaster.delete</i18n>
            </button>
        </div>
    </div>
</section>
