.course-article{
  width: 48%;
  height: auto;
  margin-right: 15px;
  margin-top: 15px;
}
.folder-article{
  width: 48%;
  height: auto;
  margin-right: 15px;
  margin-top: 15px;
}
.summary-list{
  border-bottom-right-radius: 6%;
  border-bottom-left-radius: 6%;
  padding: 3%;
  height: 100px;
}
.summary-dashboard{
  border-bottom-right-radius: 6%;
  border-bottom-left-radius: 6%;
  padding: 1%;
  height: 100px;
}
.image{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70px;
   height: 70px;
 }
.style-bord{
  box-shadow: 0 1px 3px rgba(0,0,0,0.26);
  border-radius: 2px;
}
.image-dashboard{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
}
@mixin pictureSize() {
  height: 75px;
  width: 85px;
  padding-left: 10px;
}
.activityPictureBackground{
  @include pictureSize();
  background-color: #ff8500;
}
.coursePictureBackground{
  @include pictureSize();
  background-color: #e20037;
}
i.sort-desc::before {
  content: "\e925";
  font-family:"generic-icons";
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
  font-size: 28px;
}
.icon-play::before {
  content: '\e85d';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
  font-size: 16px;
}
.foldericon::before {
  content: '\e81b';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
}
.left-padding{
  padding-left: 15px;
}
.left-border-menu{
  border-left-color: #ff8500;
  border-left-style: outset;
  padding-left: 5px;
}
.colorActivity{
   color: #ff8500;
 }
.colorCourse{
   color: #e20037;
}
.colorButton{
  color: #e20037;
  background: $white ;
}
.coursesBackground{
  background: #eee;
  padding: 15px 60px;
}
.coursesInfoBackgroundList{
  background: #ffffff;
  width : 48%;
  margin-right: 15px;
  margin-bottom: 15px;
}
.infoBackground{
  background: #ffffff;
  margin-top: 15px;
}
.coursesText{
 width: 78%;
}
.text-font{
  font-size: 20px;
  font-weight: bolder;
}
.size-font{
  font-size: 13px;
}
.padding-left-corp{
  padding-left: 50px;
}
.left-margin{
  margin-left: 10px;
}
.bottom-margin{
  margin-bottom: 5px;
}

.left-magnet{
  float: left;
  color: #555;
  font-weight: bold;
  font-size: 20px;
}
