.course-article{
  width: 450px;
  height: 120px;
  margin-right: 10px;
}
.folder-article{
  width: 450px;
  height: 80px;
  margin-right: 10px;
}
.summary{
  border-bottom-right-radius: 6%;
  border-bottom-left-radius: 6%;
  padding: 7%;
  max-height: 100px;
}
.image{
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 70px;
   max-height: 70px;
 }
.sytle-bord{
  box-shadow: 0 1px 3px rgba(0,0,0,0.26);
  border-radius: 2px;
}
.image-dashboard{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75px;
  max-height: 75px;
}

.BackgroundColorActivity-dashboard{
  background-color: #4bafd5;
  height: 75px;
  width: 85px;
  padding-left: 10px;
}
.BackgroundColorBlueParcour-dashboard{
  background-color: #ff8500;
  height: 75px;
  width: 85px;
  padding-left: 10px;
}
.BackgroundColorActivity{
  background-color: #4bafd5;
  height: 120px;
  padding-top: 25px;
}
.BackgroundColorBlueParcour{
  background-color: #ff8500;
  height: 120px;
  padding-top: 25px;
}
i.sort-desc::before {
  content: "\e925";
  font-family:"generic-icons";
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
  font-size: 28px;
}
.icon-play::before {
  content: '\e85d';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
  font-size: 16px;
}
.foldericon::before {
  content: '\e81b';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
}
.left-padding{
  padding-left: 15px;
}

.left-border-menu{
  border-left-color: #ff8500;
  border-left-style: outset;
  padding-left: 5px;
}

.colorfolder{
   color: #ff8500;
 }

.colorSubfolder{
   color: #4bafd5;
 }
.colorbutton{
  color: #4bafd5;
  background: $white ;
}

.coursesBackground{
  background: #eee;
}
.coursesInfoBackgroundList{
  background: #ffffff;
  width : 48%;
  margin-right: 15px;
  margin-bottom: 15px;
}
.coursesInfoBackground{
  background: #ffffff;
  margin-bottom: 15px;
}
.coursesText{
 width: auto;
}
.text-font{
  font-size: 20px;
  font-weight: bolder;
}
.size-font{
  font-size: 13px;
}
.padding-left-corp{
  padding-left: 50px;
}
.left-margin{
  margin-left: 10px;
}
.bottom-margin{
  margin-bottom: 5px;
}

.left-magnet{
  float: left;
}