.course-article{
  width: 48%;
  height: auto;
  margin-right: 15px;
  margin-top: 15px;
}
.folder-article{
  width: 48%;
  height: auto;
  margin-right: 15px;
  margin-top: 15px;
  padding: 15px;
}
.summary-list{
  border-bottom-right-radius: 6%;
  border-bottom-left-radius: 6%;
  height: 100px;
}
.summary-color{
    color: #757575;
}

.colorfolder{
  color: #ff8500;
}



.image{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70px;
   height: 70px;
 }
.style-bord{
  box-shadow: 0 1px 3px rgba(0,0,0,0.26);
  border-radius: 2px;
}

.style-bord:hover{
  box-shadow: 0 6px 18px rgba(0,0,0,0.26);
  transition : all 0.3s cubic-bezier(.25, .8, .25, 1)
}
.image-dashboard{
  display: block;
  object-fit: cover;
}

@mixin pictureSize() {
  width: 90px;
}

.activityRecentPicture{
  width:75px;
  padding-left: 10px;
  background-color: #ff8500;
}

.activityToComePicture{
  width: 125px;
  padding-left: 10px;
  background-color: #ff8500;
}

.activityToDoSmallWidthPicture{
  width:10px;
  height: 130px;
  padding-left:10px;
  background-color: #ff8500;
}

.courseToDoSmallWidthPicture{
  width:10px;
  height: 130px;
  padding-left:10px;
  background-color: #e20037;
}

.courseRecentPicture{
  width:75px;
  padding-left: 10px;
  background-color: #e20037;
}

.courseToComePicture{
  width:125px;
  padding-left: 10px;
  background-color: #e20037;
}

.activityToDoPicture{
  width: 140px;
  height: 130px;
  padding-left: 10px;
  background-color: #ff8500;
}

.courseToDoPicture{
  width: 140px;
  height: 130px;
  padding-left: 10px;
  background-color: #e20037;
}

.activityPictureBackground{
  @include pictureSize();
  background-color: #ff8500;
  padding-left: 10px;
}

.activitySharedPicture{
  width: 110px;
  padding-left: 10px;
  background-color: #ff8500;
}

.coursePictureBackground{
  @include pictureSize();
  background-color: #e20037;
  padding-left: 10px;
}

.courseSharedPicture{
  width: 110px;
  padding-left: 10px;
  background-color: #e20037;
}

.recentPicture{
  width:75px;
  height: 55px;
}

.NoImageMine{
  width:70px;
  height:80px;
}

.NoImageShared{
  width:90px;
  height: 100px;
}

.NoImageToDo{
  width:120px;
  height: 130px;
}

.toDoPicture{
  width: 130px;
  height: 130px;
}

.toComePicture{
  width: 115px;
  height: 115px;
}

.defaultPicture{
  width: 80px;
  height: 80px;
}

.sharedPicture{
  width: 100px;
  height: 100px;
}

.NoImagePicture{
  width: 55px;
  height: 55px;
}

i.sort-desc::before {
  content: "\e925";
  font-family:"generic-icons";
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
  font-size: 28px;
}
.icon-play::before {
  content: '\e85d';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
  font-size: 16px;
}
.foldericon::before {
  content: '\e81b';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
  color: #aaa;
}

i.eye-slash::before {
  content: '\e904';
}

i.eye-open::before {
  content: '\e873';
}

i.favorite::before {
  content: '\e9d9';
}

i.unFavorite::before {
  content: '\e9d7';
}

i.share {
  margin-right: 3px;
  font-size: 17px;
}

i.share::before {
  content: '\e937';
}

.icon-off {
  opacity: 0.15;
}

.order{
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.middleVertical{
  display: inline-flex;
  align-items: center;
}

.icons{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  float: left;
}

i.orderArrow:before {
   font-size: 10px;
   color: black;
 }

i.orderArrow {
  margin: -6px;
}

.top-margin{
  margin-top: 10px;
}

.left-padding{
  padding-left: 15px;
}
.left-border-menu{
  border-left-color: #ff8500;
  border-left-style: outset;
  padding-left: 5px;
  margin-top: 30px !important;
}

.specific-border-lightbox{
  border-color: #ff8500;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}

.number-width{
  width:60px;
  padding: 5px;
}

.colorActivity{
   color: #ff8500;
  font-weight: bold;
 }
.colorCourse{
   color: #e20037;
}
.colorCourse:hover{
  color: #ff8500;
  font-weight: bold;
}

.colorButton{
  color: #e20037;
  background: $white ;
}
.coursesBackground{
  background: #eee;
}
.coursesInfoBackgroundList{
  background: #ffffff;
  width : 48%;
  margin-right: 15px;
  margin-bottom: 15px;
}
.infoBackground{
  background: #ffffff;
  margin-top: 15px;
}
.coursesText{
 width: 85%;
}
.text-font{
  font-weight: bolder;
}

.text-italic{
  font-style: italic;
}
.size-font{
  font-size: 13px;
}
.padding-left-corp{
  padding-left: 50px;
}
.left-margin{
  margin-left: 15px;
}
.bottom-margin{
  margin-bottom: 5px;
}

.right-course-margin{
  margin-right:15px;
}

.left-magnet{
  float: left;
  color: #555;
  font-weight: bold;
  font-size: 20px;
}

.big-folder{
  color: #555;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.folder-size{
  font-size: 25px;
}

.big-folder-size{
  font-size: 40px;
}

.specialDisable{
  color: #555;
  background: #aaa;
}

.import{
  color: #555;
  font-weight: bold;
  font-size: 16px;
}
