body.moodle {
  @import 'specifics/atomic';

  .filter-course {
    width: 97%;
    .drop-down-block,.drop-down-block .drop-down-label {
      margin-bottom: 0px;
    }
    .checkbox-course {
      background-color: $medium-grey;
      margin-right: 0px;
    }
    label.chip.checkbox-course.selected {
      background-color: #e20037;
    }
    .checkbox-activity {
      background-color: $medium-grey;
      margin-right: 0px;
    }
    label.chip.checkbox-activity.selected {
      background-color: $accent;
    }
  }

  .select-type-buttons {
    margin: 30px 0;
  }

  .label-input-row {
    margin-bottom: 5px;
    display: block;
    font-size: 12px;
  }

  .show-icons {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    opacity: 0.2;
  }
  .show-list {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    opacity: 0.2;
    background-size: 100% 93%;
  }
  .show-icons.selected {
    opacity: 0.6;
  }
  .show-list.selected {
    opacity: 0.6;
  }

  .changeWeekButton{
    list-style: none;
  }

  .title-dashboard{
    margin: 0px 10px 20px 0px;
  }

  .list-dashboard {
    margin-bottom: 30px;
  }

  .icons-dashboard {
    margin-right: 10px;
  }

  .coursesBackground-dashboard{
    background: #eee;
    padding: 15px 60px;
  }

  .right-margin{
    text-align: right;
  }

  .next-previous-courses{
    margin-top: 15px;
  }

  .courseButton {
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: $solid-grey;
    color: $white;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    &.selected {
      &.course {
        background-color: #e20037;
      }

      &.activity {
        background-color: $accent;
      }
    }
  }
  ul.list-element-delete{
    list-style-type: none;
  }
}

//TEMP FIX
switch .switch input[type=checkbox]+.tick:before {
  transform: rotate(0deg);
  height: 20px;
  width: 20px;
  margin-top: 0;
}
