    {
      "name": "fr.openent~moodle~0.1-SNAPSHOT",
      "config": {
        "main" : "fr.openent.moodle.Moodle",
        "port" : 8200,
        "app-name" : "Moodle",
    	"app-address" : "/moodle",
    	"app-icon" : "Moodle-large",
        "host": "${host}",
        "ssl" : $ssl,
        "auto-redeploy": false,
        "userbook-host": "${host}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "${mode}",
        "entcore.port" : 8009
      }
    }
