<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}moodle.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="/moodle/public/dist/entcore/ng-app-a18a9838e6.js" type="text/javascript" id="context"></script>
		<script src="/moodle/public/dist/application-29ed8fb1d3.js" type="text/javascript"></script>
		<script type="text/ng-template" id="empty"></script>
	</head>
	<body ng-controller="MoodleController">
		<portal>
			<container template="main"></container>
		</portal>
	</body>
</html>
